* {
    margin: 0;
    padding: 0;
}


.ul-lista {
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 1;

}

.inicioC {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.ayudaC {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

.contactoC {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
}

.sobreC {
    grid-column: 4/6;
    display: flex;
    justify-content: center;

}

.fotos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.foto1 {
    width: 150px;
}

@media (max-width:475px) {
    .fotos {
        display: block;
    }

    .foto1 {
        width: 300px;
        margin-left: 50%;
        margin-right: 50%;


    }
}

@media (max-width:475px) {
    .ul-lista {
        display: flex;
        justify-content: space-around;
    }
}